KAFKA_BOOTSTRAP_SERVER=kafka:9092
PERIMETER_SENSOR_TOPIC_NAME=incoming_perimter_sernsors
UAV_TOPIC_NAME=incoming_uavs
CONSUMER_GROUP_ID=iron_grid_group
MYSQL_ROOT_PASSWORD=12345
MYSQL_DATABASE=iron_grid_db